.company-info {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 1rem 0;
}
.about-company {
  max-width: 832px;
  // .about-company__title

  &__title {
    font-size: 24px;
    line-height: 32px;
  }

  &__link {
    margin-top: 16px;
    img {
      margin-left: 16px;
    }
  }

  &__price-block {
    margin-top: 32px;
  }

  &__description {
    margin-top: 32px;
  }

  &__description-title {
  }

  &__description-text {
  }

  &__gallery {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__gallery-photo {
    border-radius: 6px;
  }

  &__order-form {
    margin-top: 32px;
  }
}

.indicators {
  width: 232px;

  &__item {
    margin-bottom: 16px;
  }
}

@media (max-width: 375px) {
  .company-info {
    margin-top: 32px;
  }

  hr {
    margin: 16px 0 24px 0;
  }
  .about-company {
    &__title {
      font-size: 18px;
      line-height: 24px;
    }

    &__text-item {
      margin-bottom: 8px;
    }

    &__gallery-photo {
      height: 167px;
      width: 167px;
      margin-top: 8px;
    }
  }

  .indicators {
    display: none;
  }
}
