//biboss deafault styles
@import "./bibossCss/bootstrap";
@import "./bibossCss/footer-v2";
@import "./bibossCss/header-v2";
@import "./bibossCss/menu-v2";

// Header
@import "./header/video.scss";
@import "./header/event.scss";
@import "./header/offer.scss";

// Main
@import "./main/about-company.scss";
@import "./main/price-block";
@import "./main/members";

//UI
@import "./UI/manager-icon";
@import "./UI/captcha";
@import "./UI/order-form";

.header-wrap {
  padding: 34px 0 125px 0;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(236, 238, 242));
}

.main-wrapper {
  position: relative;
  margin-top: 117px;
}

@media (max-width: 375px) {
  .header-wrap {
    padding: 32px 0;
  }
  .main-wrapper {
    margin-top: 32px;
  }
}
