.frnch-event {
  display: flex;
  align-items: center;

  &__img {
    position: relative;
    margin-right: 16px;

    &--decor {
      display: flex;
    }
  }
}

@media (max-width: 375px) {
  .frnch-event {
    justify-content: center;
  }
}
