.video-block__title {
  font-size: 48px;
  line-height: 56px;
  margin-top: 24px;
}

.video-block__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-block__inner-video-content iframe {
  border-radius: 25px;
}

.video-block__inner-right {
  margin: 16px 0 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 256px;
}

.video-block__inner-right-title {
  font-size: 24px;
  line-height: 32px;
}

.video-block__inner-right-text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.video-block__inner-right-votes {
  text-align: center;
}

.social-block {
  margin-top: 24px;
}

.social-block__item {
  position: relative;
  margin-bottom: 10px;
}

.social-block__item:nth-child(1) .social-block__item-bg {
  background-color: #1f3b74;
}

.social-block__item:nth-child(2) .social-block__item-bg {
  background-color: #27466a;
}

.social-block__item:nth-child(3) .social-block__item-bg {
  background-color: #d06313;
}

.social-block__item-bg {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 256px;
  height: 60px;
  border-radius: 35px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 30px;
  padding-bottom: 4px;
}

.social-block__item-hover {
  z-index: 10;
  position: relative;
  width: 60px;
  height: 60px;
}

@media (max-width: 375px) {
  .video-block__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    text-align: center;
  }
  .video-block__inner {
    margin-top: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .video-block__inner-video-content iframe {
    width: 343px;
    height: 194px;
  }
  .video-block__inner-right {
    margin: 32px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .video-block__inner-right-title {
    font-size: 24px;
    line-height: 32px;
  }
  .video-block__inner-right-text {
    font-size: 16px;
    line-height: 24px;
  }
  .video-block__inner-right-votes {
    display: none;
  }
  .social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-block__item {
    position: relative;
    margin-bottom: 10px;
  }
  .social-block__item-bg {
    display: none;
  }
}

.frnch-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frnch-event__img {
  position: relative;
  margin-right: 16px;
}

.frnch-event__img--decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .frnch-event {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offer {
  width: 100%;
  max-width: 1120px;
  height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-shadow: 0 5px 20px 2px #cecece;
          box-shadow: 0 5px 20px 2px #cecece;
  border-radius: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -200px;
  z-index: 25;
  background-color: #ffffff;
}

.offer__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 32px;
}

.offer__content a {
  text-decoration: none;
}

.offer__content div:not(:last-child) {
  margin-bottom: 8px;
}

.offer__content img {
  margin-left: 17px;
}

.offer__fback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.frnch__ref-fback-mngr .offer__fback-mngr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__fback-btn {
  padding: 13px 35px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #0d870d;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 375px) {
  .offer {
    position: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__content {
    margin-left: 0px;
    position: relative;
    text-align: center;
  }
  .offer__content::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 294px;
    left: 0;
    bottom: -24px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .offer__content-title {
    font-size: 24px;
    line-height: 32px;
  }
  .offer__fback {
    margin-top: 49px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .offer__fback-btn {
    margin-top: 16px;
    padding: 13px 65px;
  }
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  margin: 1rem 0;
}

.about-company {
  max-width: 832px;
}

.about-company__title {
  font-size: 24px;
  line-height: 32px;
}

.about-company__link {
  margin-top: 16px;
}

.about-company__link img {
  margin-left: 16px;
}

.about-company__price-block {
  margin-top: 32px;
}

.about-company__description {
  margin-top: 32px;
}

.about-company__gallery {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-company__gallery-photo {
  border-radius: 6px;
}

.about-company__order-form {
  margin-top: 32px;
}

.indicators {
  width: 232px;
}

.indicators__item {
  margin-bottom: 16px;
}

@media (max-width: 375px) {
  .company-info {
    margin-top: 32px;
  }
  hr {
    margin: 16px 0 24px 0;
  }
  .about-company__title {
    font-size: 18px;
    line-height: 24px;
  }
  .about-company__text-item {
    margin-bottom: 8px;
  }
  .about-company__gallery-photo {
    height: 167px;
    width: 167px;
    margin-top: 8px;
  }
  .indicators {
    display: none;
  }
}

.price-block {
  padding: 24px;
  max-width: 832px;
  background-color: rgba(30, 160, 30, 0.1);
  border-radius: 24px;
}

.price-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block__info-text {
  max-width: 560px;
}

.price-block__fback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-block__fback-btn {
  margin-right: 16px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price-block__fback-btn:hover {
  background-color: #e9e9e9;
}

.price-block__fback-btn:active {
  background-color: inherit;
}

@media (max-width: 375px) {
  .price-block {
    padding: 24px;
    width: 343px;
    background-color: rgba(30, 160, 30, 0.1);
    border-radius: 24px;
  }
  .price-block hr {
    margin-top: 24px;
  }
  .price-block__info {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 16px;
  }
  .price-block__info-title {
    color: rgba(0, 0, 0, 0.52);
  }
}

.members {
  padding: 40px 0;
}

.members__title {
  font-size: 32px;
  line-height: 40px;
}

.members__list {
  margin-top: 32px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.members__item {
  margin-right: 32px;
}

.members__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
}

.members__item-link {
  margin-top: 16px;
}

.members__item-link img {
  margin-left: 16px;
}

.members__btn {
  margin-top: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 13px 24px;
  border-radius: 6px;
  background: none;
  cursor: pointer;
}

@media (max-width: 375px) {
  .members__title {
    font-size: 24px;
    line-height: 32px;
  }
  .members__item {
    margin-right: 32px;
  }
  .members__item-image {
    width: 300px;
  }
  .members__item-title {
    font-size: 24px;
    line-height: 32px;
  }
  .members__btn {
    padding: 13px 70px;
  }
}

.manager-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manager-icon__info {
  margin-left: 8px;
}

.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  max-width: 376px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.captcha__checkbox {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.captcha__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 12px;
}

.captcha__description {
  text-align: right;
  color: rgba(0, 0, 0, 0.52);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  background-color: #eceef2;
  border-radius: 16px;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
}

.order-form__left-captcha {
  margin-bottom: 8px;
}

.order-form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 376px;
}

.order-form__left-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 42px;
  margin-bottom: 8px;
  background-size: 20px auto;
  padding-left: 44px;
}

.order-form__left-input:nth-child(1) {
  background: url("../../../images_main/user_icon.svg") no-repeat;
  background-position: 18px, center;
}

.order-form__left-input:nth-child(2) {
  background: url("../../../images_main/email_icon.svg") no-repeat;
  background-position: 16px, center;
}

.order-form__left-input:nth-child(3) {
  background: url("../../../images_main/phone_icon.svg") no-repeat;
  background-position: 20px, center;
}

.order-form__left-input:nth-child(4) {
  padding-left: 10px;
}

.order-form textarea {
  height: 86px;
}

.order-form__button {
  padding: 13px 98px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #0d870d;
}

.order-form__description {
  max-width: 376px;
}

.order-form__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
}

.order-form__description-item--icon {
  margin-right: 11px;
  margin-top: 8px;
}

.order-form__confidential {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 376px;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 18px;
}

.order-form__confidential-icon {
  margin-right: 16px;
}

@media (max-width: 375px) {
  .order-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-form__button {
    padding: 13px 50px;
  }
  .order-form__description {
    position: relative;
    margin-top: 49px;
    max-width: 376px;
  }
  .order-form__description::after {
    position: absolute;
    top: -24px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .order-form__description-title {
    text-align: center;
  }
}

.header-wrap {
  padding: 34px 0 125px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eceef2));
  background: linear-gradient(180deg, white, #eceef2);
}

.main-wrapper {
  position: relative;
  margin-top: 117px;
}

@media (max-width: 375px) {
  .header-wrap {
    padding: 32px 0;
  }
  .main-wrapper {
    margin-top: 32px;
  }
}
/*# sourceMappingURL=index.css.map */