.order {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #eceef2;
  border-radius: 16px;
}

.order-form {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  &__left-captcha {
    margin-bottom: 8px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 376px;
  }

  &__left-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 42px;
    margin-bottom: 8px;

    background-size: 20px auto;
    padding-left: 44px;
    &:nth-child(1) {
      background: url("../../../images_main/user_icon.svg") no-repeat;
      background-position: 18px, center;
    }
    &:nth-child(2) {
      background: url("../../../images_main/email_icon.svg") no-repeat;
      background-position: 16px, center;
    }
    &:nth-child(3) {
      background: url("../../../images_main/phone_icon.svg") no-repeat;
      background-position: 20px, center;
    }
    &:nth-child(4) {
      padding-left: 10px;
    }
  }

  textarea {
    height: 86px;
  }

  &__button {
    padding: 13px 98px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    background-color: #0d870d;
  }

  &__description {
    max-width: 376px;
  }

  &__description-item {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;

    &--icon {
      margin-right: 11px;
      margin-top: 8px;
    }
  }

  &__confidential {
    display: flex;
    max-width: 376px;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 18px;
  }

  &__confidential-icon {
    margin-right: 16px;
  }
}

@media (max-width: 375px) {
  .order-form {
    flex-wrap: wrap;

    &__button {
      padding: 13px 50px;
    }

    &__description {
      position: relative;
      &::after {
        position: absolute;
        top: -24px;
        content: "";
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
      margin-top: 49px;
      max-width: 376px;
    }

    &__description-title {
      text-align: center;
    }
  }
}
