.members {
  padding: 40px 0;

  &__title {
    font-size: 32px;
    line-height: 40px;
  }

  &__list {
    margin-top: 32px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 32px;
  }

  &__item-image {
  }

  &__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
  }

  &__item-link {
    margin-top: 16px;
    img {
      margin-left: 16px;
    }
  }

  &__btn {
    margin-top: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 13px 24px;
    border-radius: 6px;
    background: none;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .members {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__item {
      margin-right: 32px;
    }

    &__item-image {
      width: 300px;
    }

    &__item-title {
      font-size: 24px;
      line-height: 32px;
    }

    &__btn {
      padding: 13px 70px;
    }
  }
}
