.price-block {
  padding: 24px;
  max-width: 832px;
  background-color: rgba(30, 160, 30, 0.1);
  border-radius: 24px;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-text {
    max-width: 560px;
  }

  &__fback {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__fback-btn {
    margin-right: 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    &:hover {
      background-color: rgb(233, 233, 233);
    }
    &:active {
      background-color: inherit;
    }
  }
}

@media (max-width: 375px) {
  .price-block {
    padding: 24px;
    width: 343px;
    background-color: rgba(30, 160, 30, 0.1);
    border-radius: 24px;
    hr {
      margin-top: 24px;
    }

    &__info {
      width: auto;
      flex-wrap: wrap;
      margin-top: 16px;
    }

    &__info-title {
      color: rgba(0, 0, 0, 0.52);
    }
  }
}
