.frnch-event {
  display: flex;
  align-items: center;

  // .frnch-event__img

  &__img {
    position: relative;
    margin-right: 16px;

    &--decor {
      display: flex;
    }
  }

  // .frnch-event__img-bg

  // .frnch-event__content

  &__content {
  }

  // .frnch-event__content-title

  &__content-title {
  }

  // .frnch-event__content-description

  &__content-description {
  }
}
