.frnch {
  // .frnch__video

  &__video {
  }
}
.video-block {
  // .video-block__title

  &__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 24px;
  }

  // .video-block__inner

  &__inner {
    margin-top: 40px;
    display: flex;
  }

  // .video-block__inner-video

  &__inner-video {
  }

  // .video-block__inner-video-content

  &__inner-video-content {
    iframe {
      border-radius: 25px;
    }
  }

  // .video-block__inner-video-btn

  &__inner-video-btn {
    // .video-block__inner-video-btn--icon

    &--icon {
    }

    // .video-block__inner-video-btn--text

    &--text {
    }
  }

  // .video-block__inner-right

  &__inner-right {
    margin: 16px 0 16px 32px;
    display: flex;
    flex-direction: column;
    min-width: 256px;
  }

  // .video-block__inner-right-title

  &__inner-right-title {
    font-size: 24px;
    line-height: 32px;
  }

  // .video-block__inner-right-text

  &__inner-right-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }

  // .video-block__inner-right-votes

  &__inner-right-votes {
    text-align: center;
  }
}
.social-block {
  margin-top: 24px;
  // .social-block__item

  &__item {
    position: relative;
    margin-bottom: 10px;

    &:nth-child(1) .social-block__item-bg {
      background-color: #1f3b74;
    }
    &:nth-child(2) .social-block__item-bg {
      background-color: #27466a;
    }
    &:nth-child(3) .social-block__item-bg {
      background-color: #d06313;
    }
  }

  // .social-block__item-bg

  &__item-bg {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 256px;
    height: 60px;
    border-radius: 35px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding-left: 30px; //без расчета
    padding-bottom: 4px;
  }

  // .social-block__item-hover

  &__item-hover {
    z-index: 10;
    position: relative;
    width: 60px;
    height: 60px;
  }
}
